* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6b6bff, #f3a6a8);
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    align-items: center;
}

#input-box {
    flex-grow: 1; /* ورودی تمام فضای ممکن را بگیرد */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: border 0.3s;
}

#input-box:focus {
    border-color: #6b6bff;
}

button {
    padding: 15px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

#add-task {
    background-color: #ff6347;
    color: white;
    transition: background 0.3s;
}

#add-task:hover {
    background-color: #ff4500;
}

#clear-all {
    background-color: transparent; /* پس‌زمینه شفاف */
    color: #ff6347; /* رنگ آیکون */
    font-size: 20px; /* اندازه آیکون */
    border: none; /* حذف حاشیه */
    cursor: pointer; /* نشانه‌گر موس به شکل دست */
}

#clear-all:hover {
    color: #ff4500; /* تغییر رنگ آیکون در حالت Hover */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.task-text {
    flex-grow: 1;
    margin-left: 10px;
}

.checked {
    text-decoration: line-through;
    color: gray;
}

.edit, .delete {
    cursor: pointer;
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    transition: background 0.3s;
}

.edit:hover, .delete:hover {
    background: #f0ad4e;
}
